<%- include('./partials/head') %>

<header class="header-huisdieren">
  <nav class="navbar-items">
    <a href="#" class="nav-content">Logo</a>
    <a href="#" class="nav-content">Huisdieren</a>
    <a href="#" class="nav-content">Studenten</a>
  </nav>
</header>

<%- include('./partials/foot') %>
