* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    background-color: linear-gradient(90deg, black, white);
    /* background-color: var(--clr-background); */
}

:root {
    --clr-background: white;
    --clr-secondary: rgb(156, 101, 19);
}

.header-huisdieren {
    background-color: var(--clr-secondary);
    padding-top: 2rem;
    height: 4rem;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-content {
    text-decoration: none;
    color: black;
    left: 0;
    font-size: 1.5rem;
}

.nav-content:hover {
    border-bottom: 2px solid black;
    transition: 0.2s;
}

.nav-content:active {
    color: grey;
    border-bottom: 2px solid grey;
    transition: .2s;
}

.squad-b-img {
    width: 100vw;
    height: auto;
}

main {
    background: linear-gradient(white, white, grey, black);
}

.card-header {
    font-weight: bold;
    text-align: center;
    margin-top: 3rem;
    font-size: 2rem;
}

h2 {
    font-weight: lighter;
}

.filteren {
    display: flex;
    justify-content: center;
}

.filter-section {
    width: 20rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 2px solid black;
}

.filter-section p {
    text-align: center;
    font-weight: bold;
}

.filter-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    flex-direction: row;
    gap: .5em;
    padding: .5rem;
}

.form-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-confirm {
    justify-content: center;
    margin-top: 1.5rem;
    background-color: white;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    border-radius: 30px;
    border: 2px solid black;
    height: 2rem;
    width: auto;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.form-confirm:hover {
    background-color: black;
    color: white;
}


.card-container {
    justify-content: center;
    padding: 2rem;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4em;
    text-align: center;
}


.member-card {
    background-color: var(--clr-secondary);
    margin-top: 3rem;
    padding-bottom: 10rem;
    height: 10em;
    width: 15em;
    padding-top: 1rem;
    box-shadow: 5px 5px 10px black;
    font-weight: lighter;
}


.member-card img {
    height: 6em;
    width: auto;
    border-radius: 50%;
    box-shadow: 5px 5px 10px black;
}

.info-button {
    margin-bottom: 5rem;
    margin-top: 2rem;
    background-color: var(--clr-secondary);
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    border-radius: 30px;
    border: 2px solid black;
    height: 2.5rem;
    width: auto;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.info-button:hover {
    background-color: black;
    color: var(--clr-secondary);
}

.info-button:active {
    background-color: grey;
    border: 2px solid grey;
}